
<!--<ion-nav-view name="tab-auth"></ion-nav-view>-->

<ion-tabs class="tabs-icon-top">

    <ion-tab title="Home" icon="icon ion-home" href="#/app/tab/home">
      <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Entries" icon="icon ion-clipboard" href="#/app/tab/entries">
      <ion-nav-view name="tab-entries"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Diary" icon="icon ion-compose" href="#/app/tab/diary">
      <ion-nav-view name="tab-diary"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Visualizer" icon="icon ion-arrow-graph-up-right" href="#/app/tab/visualizer">
      <ion-nav-view name="tab-visualizer"></ion-nav-view>
    </ion-tab>

</ion-tabs>
