<form>
  <div class="list">
    <label class="item item-input">
      <input type="email" placeholder="email" ng-model="user.username">
    </label>
    <label class="item item-input">
      <input type="password" placeholder="password" ng-model="user.password">
    </label>
  </div>
  <div class="padding">
    <button style="width: 49%; float: left;" ng-click="register()" class="button button-positive">Register</button>
    <div style="width: 49%; float: right; text-align: center; padding-top: 15px;">
      <a href ng-click="login()">Cancel</a>
    </div>
  </div>
</form>
