<ion-view title="{{measurementType.id}}">
  <ion-content class="has-header">

    <form ng-submit="saveMeasurement()">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Enter value" ng-model="entry.value">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Save</button>
      </div>
    </form>

    <ion-list>
      <ion-item ng-repeat="entry in entries track by $index" type="item-text-wrap">
        <span>{{entry.timeStamp | dateTime}}</span>
        <br>
        <span>{{entry.value}}</span><span> {{measurementType.units}}</span>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
